<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA96IcAB0u3oW5ICWdNMXOPeSDlehTleTc</string>
	<key>GCM_SENDER_ID</key>
	<string>276822094809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseKanda</string>
	<key>PROJECT_ID</key>
	<string>fir-kanda</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-kanda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276822094809:ios:8ae80cbf7a9a0fd2069fc8</string>
</dict>
</plist>